body {
    background-color: rgb(244, 194, 159);
}

.container {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 120px 120px;
    column-gap: 25px;
    row-gap: 15px;
    padding-left: 500px;
}

.items {
    text-align: end;
}

.items-1 {
    background-color: rgb(208, 88, 52);
    height: 120px;

}


#item-1 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: ease;
}

#item-1:hover {
    width: 240px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

@keyframes i1 {
    0% {
        background-color: rgb(208, 88, 52);
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: darkgreen;
    }

    100% {
        background-color: rgb(33, 240, 33);
    }
}

#item-2 {
    width: 120px;
    height: 120px;
    transition: 2s;
    transition-timing-function: ease;
}

#item-2:hover {
    width: 240px;
    height: 240px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;

}

#item-3 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: ease;
}

#item-3:hover {
    width: 360px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

#item-4 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#item-4:hover {
    width: 360px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

#item-5 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#item-5:hover {
    width: 360px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

#item-6 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

#item-6:hover {
    width: 360px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

#item-7 {
    width: 120px;
    transition: 2500ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#item-7:hover {
    width: 360px;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    background-color: rgb(33, 240, 33);
    animation-name: i1;
}

.container2 {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 45px;
    margin-top: 45px;
    row-gap: 45px;
    margin-left: 615px
}

.itemc2 {
    background-color: rgb(208, 88, 52);
    height: 150px;
    align-content: center;
    text-align: center;
    font-weight: bolder;

}

.item1 {
    width: 150px;
    transition: 3s;
    transition-timing-function: ease;
}

.itemh1:hover+.item1 {
    background-color: rgb(33, 240, 33);
    width: 350px;
    animation-name: i1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.item2 {
    width: 150px;
    transition: 3s;
    transition-timing-function: ease;
}

.itemh2:active+.item2 {
    background-color: rgb(33, 240, 33);
    width: 350px;
    animation-name: i1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.item3 {
    width: 150px;
    transition: 3s;
    transition-timing-function: ease;
}

.itemh3:hover+.item3 {
    background-color: rgb(33, 240, 33);
    width: 350px;
    animation-name: i1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.itemh3:active+.item3 {
    background-color: rgb(33, 240, 33);
    width: 600px;
    animation-name: i1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.links{
    display: flex;
}
.links p {
    margin-left: 500px;
}
.links p a{
    text-decoration: none;
}